/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  :root {
    --primary-color: #FF69B4;
    --secondary-color: #FFB6C1;
    --background-light: #FFF5F6;
    --background-dark: #FFF0F5;
    --text-dark: #333333;
    --text-light: #666666;
  }
  
  